body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;
  background-color: #f2f2f2;
  background-position: top center;
  10002background-repeat: no-repeat;

}

a {
  text-decoration: none;

}

img {
  max-width: 100%;
  height: auto;

}

.general-container {
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);

}

.main-navigation {
  font-size: 14px;
  line-height: 26px; /*normal или указывать число? */
  background-color: #ffffff;
  list-style: none;
  font-weight: 700;

}

.site-navigation {
  list-style: none;

}

.intro{
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  background-color: #ffffff;
  padding-top: 61px;
  padding-bottom: 48px;
  width: 100%;

}

.intro p {
  margin: 0;
  padding: 0;
  margin-top: 23px;
}

.feature-item {
  list-style: none;
  text-align: center;

}

.main-navigation a,
.site-navigation a {
  color: black;

}

.main-navigation a:hover,
.site-navigation a:hover {
  color: #81b3d2;

}

.main-navigation a:focus,
.site-navigation a:focus {
  color: #b2b2b2;

}

.main-navigation a:active,
.site-navigation a:active {
    color: #b2b2b2;

}

.about {
  background-color: #ffffff;
  background-image:
  url("../img/Shape-under-main.png"),
  url("../img/main-photo-crop.jpg");
  background-position: bottom;
  background-repeat: no-repeat;


}

.hotels-search {
  text-align: center;

}

.bold {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: black;

}

.sedona-photo {
  text-align: center;
  margin: 0;
  padding: 76px;

}

.reasons h3 {
  font-size: 21px;
  line-height: 21px;
  list-style: none;
  font-weight: 700;

}

.reasons {
margin: 0;
padding: 0;
margin-top: auto;
list-style: none;
text-align: center;

}

.features-list {
  color: black;
  list-style: none;

}

.inverse {
  color: white;

}

.gray {
  background-color: #eeeeee;

}

.white {
  background-color: #ffffff;

}

.blue {
  background-color: #81b3d2;

}

.realtown-background {
  background-image: url("../img/realtown-crop.jpg");
  background-repeat: no-repeat;
  background-position: right;
  margin: 0;
  padding: 0;

}

.diablo-background {
  background-image: url("../img/diablo-crop.jpg");
  background-repeat: no-repeat;
  background-position: left;

}

.button {
  font: inherit;
  text-align: center;
  color: white;
  vertical-align: middle;
  text-transform: uppercase;

}

.search-sedona {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;

}

.button-blue {
  background-color: #81b3d2;

}

.button-blue:hover {
  background-color: #669ec0;

}

.button-blue:focus {
  background-color: #5496bd;

}

.button-blue:active {
  background-color: #5496bd;
  color: #88b6d1;

}

.button-brown {
 background-color: #766357;

}

.button-brown:hover {
  background-color: #604e43;

}

.button-brown:focus {
  background-color: #503e33;

}

.button-brown:active {
  background-color: #503e33;
  color: #857871;

}

.hotels-search-form {
  font-size: 14px;
  color: black;
  line-height: 26px;
  list-style: none;
  font-weight: 700;
  background-color: white;

}

.hotels-search-item input {
  font: inherit;
  list-style: none;
  background-color: #f2f2f2;

}

.hotels-search-item input:hover {
  background-color: #ebebeb;

}

.hotels-search-item input:focus {
  background-color: #ffffff;

}

.hotels-search-item input:active {
  background-color: #ffffff;
  border-color: #e5e5e5;

}

.search-menu {
    background-color: #ffffff;

}

.main-footer {
  background-color: #ffffff;

}

.footer-social {

 text-decoration: none;
 text-align: center;

}

.footer-copyright {
text-align: center;

}

.hashtag {
text-align: center;

}

.footer-hashtag {
  color: #black;
  font-size: 21px;
  line-height: 26px;
  list-style: none;
  font-weight: 700;


}
.footer-hashtag a {
  color: black;

}
.footer-hashtag a:hover {
  color: #81b3d2;

}
.footer-hashtag a:focus {
  color: #b2b2b2;

}
.footer-hashtag a:active {
  color: #b2b2b2;

}
.footer-social  ul {
  list-style: none;

}
.footer-copyright .button {
color: black;

}

/* Кнопка "гостиницы" все равно активна

.site-navigation-current a:current
{
  color: #d5cfcb;

}*/
.hotels {
  background-color: #81b3d2;
  background-image: url("../img/catalog-crop.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: width: 1200px; height: 217px;
  color: white;

}
.keywords {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;

}

.show {
  font-size: 14px;
  line-height: 21px;
  background-color: transparent;


}
.breadcrumbs {
  font-size: 12px;
  line-height: 18px;
  color: #81b3d2;
  list-style: none;

}

.breadcrumbs a {
  color: #b2b2b2;
  text-decoration: underline;

}

/* underline dotted не прописывается */
.breadcrumbs a:hover {
  color: #81b3d2;
  text-decoration: underline;

}

.breadcrumbs a:focus {
  color: #000000;

}

.breadcrumbs a:active {
  color: #000000;

}

.booking,
.more-info {
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;

}

.catalog-category,
.catalog-price {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;

}

.page-title{
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;

}

.catalog-item-title,
.found {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  list-style: none;

}

.catalog-item-title {
  color: #000000;

}

.catalog-item-title:hover {
  color: #81b3d2;

}

.catalog-item-title:focus {
  color: #b2b2b2;

}

.catalog-item-title:active {
    color: #b2b2b2;
}

.catalog-list {
    list-style: none;
}

/*СЕТКИ */

.general-container {
  width: 1200px;
  margin: 0 auto;

}


img {
  max-width: 100%;
  height: auto;
}

.main-header-logo {
  width: 138px;
  height: 70px;
  position: absolute;
  top: 0;
  margin: 0 auto;
  left: 50%;
  margin-left: -69px;
}


.site-navigation {
  display: flex;
  margin: 0;
  padding: 0 61px;
  width: 1200px;
  align-items: center;
  justify-content: space-around;
  box-sizing: border-box;
  background-color: #ffffff;


}
.menu {
  margin-top: 15px;
  margin-bottom: 15px;

  width: 25%;

}
.menu-hotels {
  text-align: right;
}
.menu-map {
  text-align: right;
}

/* НЕПОНЯТНЫЙ КОД!*/


.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.features-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  padding-top: 82px;
  padding-bottom: 82px;

}
.feature-item {
  width: 400px;

}
.gray {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  padding-bottom: 43px;

}

.reasone-item {
  width: 400px;

}

.realtown-background {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;

}

.realtown {
  width: 400px;
  padding-bottom: 59px;

}

.diablo-background {
  display: flex;
  flex-direction: row-reverse;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;


}

.diablo {
  width: 400px;
  padding-bottom: 61px;

}

.search-menu {
  margin: 0;
  padding: 0;
}



.intro-search {
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  width: 100%;




}
.intro-search h2 {
  margin: 0;
  padding: 0;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  padding-top: 54px;


}

.intro-search p {
  margin: 0;
  padding: 0;
  padding-top: 26px;
  padding-bottom: 48px;



}
.search-sedona {
  margin: 0;
  padding: 0;
  padding-top: 31px;
  padding-bottom: 29px;
  padding-left: 139px;
  padding-right: 140px;
  outline: none;
}

.find {
  font-size: 21px;
  line-height: 26px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  padding-top: 18px;
  padding-bottom: 14px;
  padding-left: 195px;
  padding-right: 195px;
  margin-top: 39px;
  border: 0px;
  outline:none;

}

.hotels-search {

  margin: 0;
  padding: 0;

}

.modal-search {
  background-color: #f9f9f9;
  background-image: url("../img/map.jpg");
  padding-bottom: 77px;

}

.hotels-search-form {
  display: flex;
  flex-direction: column;
  width: 568px;
  margin: 0;
  padding: 0;
  margin-left: 316px;
  flex-wrap: wrap;
  padding-bottom: 57px;

}

.footer-hashtag {
  width: 140px;
  margin: 0;
  text-align: center;
  margin-left: 130px;
  margin-top: 12px;

}

.footer-copyright {
  margin: 0;
  padding: 0;
  margin-right: 10px;
  margin-top: 13px;

}

.main-footer .container {
  display: flex;
  justify-content: space-around;

}


.first-column {
  width: 313px;
  padding: 0;
  margin: 0;
  border: 0;

}

.second-column {
  width: 288px;
  padding: 0;
  margin: 0;
  border: 0;

}

.third-column {
  width: 328px;
  padding: 0;
  margin: 0;
  border: 0;

}

.keywords {
  margin: 0;
  padding: 0;

}

.page-title {
  margin: 0;
  padding: 0;
  margin-left: 20px;

}

.found {
  margin: 0;
  padding: 0;
  margin-right: 30px;

}

.breadcrumbs {
  display: flex;
  margin: 0;
  padding: 0;
  margin-left: 38px;

}

.breadcrumbs-other {
  margin: 0;
  padding: 0;
  margin-right: 33px;

}

.breadcrumbs-current {
  margin: 0;
  padding: 0;
  margin-right: 33px;

}

.breadcrumbs-container {
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
  padding-left: 72px;
  padding-top: 31px;
  padding-bottom: 30px;
  background-color: #ffffff;
  border-bottom: 1px solid #e5e5e5;


}

.catalog {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;

}

.catalog-item {
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;
  padding-top: 28px;
  padding-bottom: 27px;
  border-bottom: 1px solid #e5e5e5;

}

.catalog-list {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  list-style: none;

}

.reasons h3 {
  position: relative;
  margin: 0;
  margin-top: 49px;

}

.column-rating {
  margin: 0;
  padding: 0;
  margin-left: auto;

}

.column-title {
  display: flex;
  flex-direction: column;

}

.more-info p{
  margin: 0;
  padding: 0;

}

.house {
  margin: auto;
  position: relative;

}

.burger {
  margin: auto;
  position: relative;

}

.gift {
  margin: auto;
  position: relative;

}

.feature-item h3 {
  margin: 0px;
  padding: 0px;
  margin-top: 80px;

 }

.house::before {
  content: "";
  position: absolute;
  background: url("../img/icon-1.svg")no-repeat;
  width: 75px;
  height: 72px;
  bottom: 116px;
  left: 162px;

}

.burger::before {
  content: "";
  position: absolute;
  background: url("../img/icon-3.svg") no-repeat;
  width: 74px;
  height: 70px;
  bottom: 116px;
  left: 162px;

}

.gift::before {
  content: "";
  position: absolute;
  background: url("../img/icon-2.svg")no-repeat;
  width: 64px;
  height: 76px;
  bottom: 116px;
  left: 168px;

}

.arrival {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  padding-left: 55px;
  padding-top: 52px;
  position: relative;

}

.arrival input {
  height: 38px;
  padding: 0px;
  border: 0px;
  margin-right: 55px;
  padding-left: 13px;
  padding-right: 187px;
  outline: none;

}

.arrival label {
  padding-top: 9px;

}

.arrival input:active {
  border: 2px black;

}

.departure {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  padding-left: 55px;
  padding-top: 29px;
  position: relative;

}

.departure input {

  height: 38px;
  padding: 0px;
  border: 0px;
  margin-right: 55px;
  padding-left: 13px;
  padding-right: 187px;
  outline: none;

}

.departure input:active {

  border: 2px solid #e5e5e5;

}

.arrival input:active {

  border: 2px solid #e5e5e5;

}


.departure label {
  padding-top: 9px;

}

.adults-kids  {
  display: flex;
  margin: 0;
  padding: 0;
  padding-top: 17px;

}

.footer-container {
  display: flex;
  justify-content: space-between;
  padding-top: 35px;
  padding-bottom: 34px;

}

.adults-kids label {
  margin-top: 7px;

}

.adults-kids input {
  width: 23px;
  height: 38px;
  margin: 0px;
  padding: 0px;
  border: 0px;
  padding-left: 16px;
  outline: none;

}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;

}


.adults label {
  margin-left: 55px;
  margin-right: 38px;

}

.kids label {
  margin-left: 55px;
  margin-right: 25px;

}

.social-button {
width: 46px;
height: 48px;
display: flex;
background-color: #81b3d2;
align-items: center;
justify-content: center;

}

.social  {
  display: flex;
  margin: 0 auto;
  padding: 0;
  width: 150px;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: 25px;

}
.social-button {
  background-color: #81b3d2;

}

.social-button:hover {
  background-color: #669ec0;

}

.social-button:focus {
  background-color: #5496bd;

}

.social-button:active {
  background-color: #5496bd;
  color: #88b6d1;

}


.filter-option {
  list-style: none;
  margin-top: 24px;
  padding-left: 17px;

}

.search-filters {
  width: 300px;

}

.filter {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  list-style: none;

}

.first-column {
  margin: 0;
  padding: 0;
  margin-top: 27px;
  margin-left: 72px;

}

  .filter ul {
  padding: 0;
  margin: 0;

}

.filter-option label {
  position: relative;
  display: block;
  user-select: none;
  padding-left: 22px;

}

  .filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  background: url("../img/checkbox-off.svg")no-repeat;
  width: 27px;
  height: 23px;
  left: -18px;
  top: 0;

}

.filter-input-checkbox:checked + label::after {
  content: "";
  position: absolute;
  background: url("../img/checkbox-on.svg")no-repeat;
  width: 27px;
  height: 23px;
  top: 0px;
  left: -18px;

}

.second-column {
  margin: 0;
  padding: 0;
  margin-top: 27px;
  margin-right: 234px;

}

.filter-range {
  width: 330px;
  margin-top: 28px;
  margin-right: 70px;
  color: #ffffff;
  text-transform: uppercase;

}

.filter-range-title {
  margin-bottom: 9px;
  margin-left: 11px;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;

}

.price-controls {
  position: relative;
  height: 33px;
  margin-bottom: 20px;
  margin-left: 9px;
  font-size: 0;
  border: 2px solid #ffffff;
  border-radius: 2px;

}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background: #ffffff;
  transform: translate(-50%, -50%);

}

.price-controls label {
  display: inline-block;

  font-size: 14px;
  line-height: 38px;
  vertical-align: top;

  cursor: pointer;

}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 65px;

}

.price-controls input {
  width: 50px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;

}

.range-controls {
  position: relative;
  margin-bottom: 32px;

}

.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);

}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;

}

.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;

}

.range-toggle:hover {
  background: #1c4f80;

}

.range-toggle-min {
  left: 10;

}

.range-toggle-max {
  left: 80%;

}

.btn-transparent {
  display: block;
  margin-left: 94px;
  padding: 6px 31px;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;

}

.btn-transparent:hover {
  color: #000000;
  background: #ffffff;

}

.catalog-item-image {
  margin: 0px;
  padding: 0px;
  margin-left: 73px;

}

.column-title  {
  margin: 0px;
  padding: 0px;
  margin-left: 29px;

}

.catalog-item-title a {
  margin: 0px;
  padding: 0px;

}

.lines {
  display: flex;
  flex-direction: column;

}

.second-line {
  display: flex;
  justify-content: space-between;
  margin-right: 75px;

}

.catalog-buttons {
  margin: 0px;
  padding: 0px;
  margin-top: 18px;

}

.more-info {
  margin: 0px;
  padding: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 16px;
  padding-right: 17px;

}

.booking {
  margin: 0px;
  padding: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 17px;
  padding-right: 16px;
  margin-left: 3px;

}

.numbers {
  margin: 0;
  padding: 0;
  background: #f2f2f2;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 6px;
  padding-right: 4px;
  margin-top: 38px;
  margin-right: 59px;

}


.reasone-item  {
  margin: 0;
  padding: 0;
  padding-left: 71px;
  padding-right: 71px;

}

.realtown p {
  margin: 0;
  padding: 0;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 22px;

}

.diablo p {
  margin: 0;
  padding: 0;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 21px;

}

.feature-item p {
  margin: 0;
  padding: 0;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 23px;

}

.date {
  padding-top: 10px;

}


.star::before {
  content: "";
  position: absolute;
  background: url(../img/star.svg);
  width: 18px;
  height: 17px;

}


.column-rating {
  position: relative;
  margin-right: 20px;

}

.star {
  margin: 0px;
  padding: 0px;
  width: 18px;
  height: 17px;
  margin-right: 25px;
  margin-left: auto;

}


.adults-minus {
  padding: 0;
  margin: 0;
  height: 38px;
  width: 38px;
  border: 0;
  background-color: #f2f2f2;
  color: #a9a9a9;
  outline:none;

}

.adults-plus {
  padding: 0;
  margin: 0;
  height: 38px;
  width: 38px;
  border: 0;
  background-color: #f2f2f2;
  color: #a9a9a9;
  outline:none;

}

.adults {
  display: flex;

}

.kids {
  display: flex;

}

.minus {
  padding: 0;
  margin: 0;
  height: 38px;
  width: 38px;
  border: 0;
  background-color: #f2f2f2;
  color: #a9a9a9;
  font-size: 16px;
  outline:none;

}

.plus {
  padding: 0;
  margin: 0;
  height: 38px;
  width: 38px;
  border: 0;
  background-color: #f2f2f2;
  color: #a9a9a9;
  font-size: 16px;
  outline:none;

}


.reasone-item p {
  padding-top: 7px;

}

.minus {
  color: #b2b2b2;

}

.minus:hover {
  color: #000000;

}

.minus:focus {
  color: #81b3d2;

}

.minus:active {
  color: #81b3d2;

}

.plus {
  color: #b2b2b2;

}
.plus:hover {
  color: #000000;

}
.plus:focus {
  color: #81b3d2;

}
.plus:active {
  color: #81b3d2;

}

.calendar-departure {
  padding: 0;
  margin: 0;
  height: 22px;
  width: 21px;
  border: 0;
  background-color: #f2f2f2;
  position: absolute;
  top: 39px;
  right: 65px;
  outline:none;

}

.calendar-arrival {
  padding: 0;
  margin: 0;
  height: 22px;
  width: 21px;
  border: 0;
  background-color: #f2f2f2;
  position: absolute;
  top: 60px;
  right: 65px;
  border: 0px;
  outline:none;

}

.calendar-arrival>svg {
    fill: #cacaca;

}

.calendar-departure>svg {
    fill: #cacaca;

}

.calendar-arrival>svg:hover {
    fill: #000000;

}

.calendar-departure>svg:hover {
    fill: #000000;

}

.calendar-arrival>svg:active {
    fill: #81b3d2;

}

.calendar-departure>svg:active {
    fill: #81b3d2;

}

.triangle {
  margin: 0px;
  padding: 0px;
  margin-left: auto;
  margin-right: 76px;

}

.up svg {
  fill: #cacaca;

}

.down svg {
  fill: #81b3d2;

}

.up svg:hover {
  fill: #000000;

}

.down svg:hover {
  fill: #000000;

}

.up svg:active {
  fill: #81b3d2;

}

.down svg:active {
  fill: #81b3d2;

}

.copyright {
  text-align: center;
  margin-right: 48px;
  display: flex;

}

.academy {
  margin: 0px;
  padding: 0px;
  margin-top: 4px;
  margin-right: 51px;
}


.academy svg:hover {
  fill: #81b3d2;

}

.academy svg:active {
fill: #c5c3c4;

}
