body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;
  background-color: #f2f2f2;
  background-position: top center;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;

}

img {
  max-width: 100%;
  height: auto;
}
.general-container {
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
}

.main-navigation {
  font-size: 14px;
  line-height: 26px; /*normal или указывать число? */
  background-color: #ffffff;
  list-style: none;
  font-weight: 700;

}
.site-navigation {
  list-style: none;

}
.intro{
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  background-color: #ffffff;
  padding-top: 61px;
  padding-bottom: 47px;

  width: 100%;



}
.intro p {
  margin: 0;
  padding: 0;
  margin-top: 25px;
}

.feature-item {
  list-style: none;
  text-align: center;

}
.main-navigation a,
.site-navigation a {
  color: black;

}
.main-navigation a:hover,
.site-navigation a:hover {
  color: #81b3d2;

}
.main-navigation a:focus,
.site-navigation a:focus {
  color: #b2b2b2;

}
.main-navigation a:active,
.site-navigation a:active {
    color: #b2b2b2;

}
.about {
  background-color: #ffffff;
  background-image:
  url("../img/Shape-under-main.png"),
  url("../img/main-photo-crop.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: width: 1200px; height: 510px;

}
.hotels-search {
  text-align: center;

}
.bold {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: black;

}
.sedona-photo {
  text-align: center;
  margin: 0;
  padding: 76px;

}
.reasons h3 {
  font-size: 21px;
  line-height: 21px;
  list-style: none;
  font-weight: 700;

}
.reasons {
margin: 0;
padding: 0;
margin-top: auto;
list-style: none;
text-align: center;
}

.features-list {
  color: black;
  list-style: none;

}
.inverse {
  color: white;

}
.gray {
  background-color: #eeeeee;

}

.white {
  background-color: #ffffff;
}

.blue {
  background-color: #81b3d2;

}

.realtown-background {
  background-image: url("../img/realtown-crop.jpg");
  background-repeat: no-repeat;
  background-position: right;
  margin: 0;
  padding: 0;
}
.diablo-background {
  background-image: url("../img/diablo-crop.jpg");
  background-repeat: no-repeat;
  background-position: left;

}

.button {
  font: inherit;
  text-align: center;
  color: white;
  vertical-align: middle;
  text-transform: uppercase;

}
.search-sedona {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;

}

.button-blue {
  background-color: #81b3d2;

}
.button-blue:hover {
  background-color: #669ec0;

}
.button-blue:focus {
  background-color: #5496bd;

}
.button-blue:active {
  background-color: #5496bd;
  color: #88b6d1;

}
.button-brown {
 background-color: #766357;

}
.button-brown:hover {
  background-color: #604e43;

}
.button-brown:focus {
  background-color: #503e33;

}
.button-brown:active {
  background-color: #503e33;
  color: #857871;

}
.hotels-search-form {
  font-size: 14px;
  color: black;
  line-height: 26px;
  list-style: none;
  font-weight: 700;
  background-color: white;

}
.hotels-search-item input {
  font: inherit;
  list-style: none;
  background-color: #f2f2f2;

}
.hotels-search-item input:hover {
  background-color: #ebebeb;

}
.hotels-search-item input:focus {
  background-color: #ffffff;

}
.hotels-search-item input:active {
  background-color: #ffffff;
  border-color: #e5e5e5;

}

.search-menu {
    background-color: #ffffff;

}

.footer-social {
  color: #black;
  text-decoration: none;
  text-align: center;

}
.footer-hashtag {
  color: #black;
  font-size: 21px;
  line-height: 26px;
  list-style: none;
  font-weight: 700;


}
.footer-hashtag a {
  color: black;

}
.footer-hashtag a:hover {
  color: #81b3d2;

}
.footer-hashtag a:focus {
  color: #b2b2b2;

}
.footer-hashtag a:active {
  color: #b2b2b2;

}
.footer-social  ul {
  list-style: none;

}
.footer-copyright .button {
color: black;

}

/* Кнопка "гостиницы" все равно активна

.site-navigation-current a:current
{
  color: #d5cfcb;

}*/
.hotels {
  background-color: #81b3d2;
  background-image: url("../img/catalog-crop.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: width: 1200px; height: 217px;
  color: white;

}
.keywords {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;

}
.show {
  font-size: 14px;
  line-height: 21px;
  background-color: transparent;


}
.breadcrumbs {
  font-size: 12px;
  line-height: 18px;
  color: #81b3d2;
  list-style: none;

}
.breadcrumbs a {
  color: #b2b2b2;
  text-decoration: underline;

}
/* underline dotted не прописывается */
.breadcrumbs a:hover {
  color: #81b3d2;
  text-decoration: underline;

}
.breadcrumbs a:focus {
  color: #000000;

}
.breadcrumbs a:active {
  color: #000000;

}
.booking,
.more-info {
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;

}
.catalog-category,
.catalog-price {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;

}
.page-title{
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;

}
.catalog-item-title,
.found {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  list-style: none;

}

.catalog-item-title {
  color: #000000;

}
.catalog-item-title:hover {
  color: #81b3d2;

}
.catalog-item-title:focus {
  color: #b2b2b2;

}
.catalog-item-title:active {
    color: #b2b2b2;
}
.catalog-list {
    list-style: none;
}

/*СЕТКИ */

.general-container {
  width: 1200px;
  margin: 0 auto;

}


img {
  max-width: 100%;
  height: auto;
}


.main-header {

/* Временно для сетки */
  min-height: 56px;


}

.main-navigation {
 /* Временно для сетки */
 min-height: 56px;
 background-color: transparent;
}

.main-header-logo {
  width: 138px;
  height: 70px;
  position: absolute;
  left: 614px;
  top: 0;
}


.site-navigation {
  display: flex;
  margin: 0;
  padding: 0 61px;
  width: 1200px;
  align-items: center;
  justify-content: space-around;
  box-sizing: border-box;
  background-color: #ffffff;


}
.menu {
  margin-top: 15px;
  margin-bottom: 15px;

  width: 25%;

}
.menu-hotels {
  text-align: right;
}
.menu-map {
  text-align: right;
}

/* НЕПОНЯТНЫЙ КОД!*/


.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.features-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  /* Временно для сетки */
  min-height: 330px;

}
.feature-item {
  /* Временно для сетки */

  width: 400px;

}
.gray {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  /* Временно для сетки */
  min-height: 256px;}

.reasone-item {
  /* Временно для сетки */
  min-height: 256px;
  width: 400px;
}

.realtown-background {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  /* Временно для сетки */
  min-height: 256px;

}
 .realtown {
  /* Временно для сетки */
  min-height: 256px;
  width: 400px;

}

.diablo-background {
  display: flex;
  flex-direction: row-reverse;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  /* Временно для сетки */
  min-height: 256px;

}
 .diablo {
  /* Временно для сетки */
  min-height: 256px;
  width: 400px;

}

.search-menu {

  margin: 0;
  padding: 0;
}



.intro-search {
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  width: 100%;
  padding-top: 53px;

  /* Временно для сетки */


}
.intro-search h2 {
  margin: 0;
  padding: 0;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;


}

.intro-search p {
  margin: 0;
  padding: 0;
  padding-top: 26px;
  padding-bottom: 51px;



}
.search-sedona {
  margin: 0;
  padding: 0;
  padding-top: 29px;
  padding-bottom: 29px;
  padding-left: 139px;
  padding-right: 140px;
}

.find {
  font-size: 21px;
  line-height: 25px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 195px;
  padding-right: 195px;
  margin-top: 51px;

  }

.hotels-search {

  margin: 0;
  padding: 0;


}

.modal-search {
  background-color: #f9f9f9;
  background-image: url("../img/map.jpg");
    /* Временно для сетки */
  min-height: 472px;


}
.hotels-search-form {
  display: flex;
  flex-direction: column;
  width: 568px;
  margin: 0;
  padding: 0;
  margin-left: 316px;
  flex-wrap: wrap;


  /* Временно для сетки */
  min-height: 395px;
}



.main-footer {
  padding: 0;

   /* Временно для сетки */
   background-color: #ffffff;

   min-height: 120px;

}

.footer-hashtag {
  width: 140px;
  margin: 0;
  margin-top: 46px;
  margin-left: 45px;



  /* Временно для сетки */
  min-height: 53px;
}

.footer-social {
  /* Временно для сетки */
  min-height: 53px;
}

.footer-copyright {
  margin: 0;
  min-height: 53px;
  margin-top: 46px;
  margin-right: px;

  /* Временно для сетки */
  min-height: 53px;
}

.main-footer .container {
  display: flex;
  justify-content: space-around;
}

  /* Cетка каталога */





.first-column {
  width: 313px;
  height: 220px;
  padding: 0;
  margin: 0;
  border: 0;

}
.second-column {
  width: 288px;
  min-height: 220px;
  padding: 0;
  margin: 0;
  border: 0;

}
.third-column {
  width: 328px;
  height: 220px;
  padding: 0;
  margin: 0;
  border: 0;

}
.keywords {
  margin: 0;
  padding: 0;
}

.page-title {
  margin: 0;
  padding: 0;
  margin-left: 20px;

}

.found {
  margin: 0;
  padding: 0;
  margin-right: 30px;

}

.breadcrumbs {
  display: flex;
  margin: 0;
  padding: 0;
  margin-left: 38px;

}
.breadcrumbs-other {
  margin: 0;
  padding: 0;
  margin-right: 33px;



}
.breadcrumbs-current {
  margin: 0;
  padding: 0;
  margin-right: 33px;

}

.breadcrumbs-container {
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
  margin-left: 72px;
  margin-top: 31px;

  /* Временно для сетки */
  min-height: 86px;


}

.catalog {
  width: 100%;
  display: flex;
  flex-direction: column;

/* Временно для сетки */
  min-height: 455px;

}

.catalog-item {
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;

  /* Временно для сетки */
  min-height: 152px;
}

.catalog-item h3 {

}

.catalog-list {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;

  list-style: none;
}

.reasons h3 {
  position: relative;

 margin: 0;
 margin-top: 49px;
 margin-bottom: 30px;
}

.column-rating {
  display: flex;
  margin: 0;
  padding: 0;
  margin-left: auto;
}

.column-title {
  display: flex;
  flex-direction: column;


}

.more-info p{
  margin: 0;
  padding: 0;
}

.house {
  margin: auto;

}
.burger {
  margin: auto;

}
.gift {
  margin: auto;

}

.feature-item h3 {
   margin: 0;
   padding: 0;
   margin-top: 90px;

 }


.house h3::before {
  content: "";
  position: absolute;
  background: url("../img/icon-1.svg")no-repeat;
  width: 75px;
  height: 72px;
  bottom: 55px;
  left: 162px;


}
.burger h3::before {
  content: "";
  position: absolute;
  background: url("../img/icon-3.svg") no-repeat;
  width: 74px;
  height: 70px;
  bottom: 55px;
  left: 162px;



}
.gift h3::before {
  content: "";
  position: absolute;
  background: url("../img/icon-2.svg")no-repeat;
  width: 64px;
  height: 76px;
  bottom: 55px;
  left: 168px;



}

.arrival p{
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  padding-left: 55px;
  padding-top: 52px;
}

.arrival input {
  width: 346px;
  height: 38px;
  padding: 0px;
  border: 0px;
  margin-right: 55px;
}

.arrival label {
  padding-top: 7px;
}

.hotels-search-item {

  margin: 0;
  padding: 0;
}

.departure p {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  padding-left: 55px;
  padding-top: 29px;
}

.departure input {
  width: 346px;
  height: 38px;
  padding: 0px;
  border: 0px;
  margin-right: 55px;
}

.departure label {
  padding-top: 7px;
}

.adults-kids  {
  display: flex;
  margin: 0;
  padding: 0;
  padding-top: 29px;

}
.footer-container {
  display: flex;
  justify-content: space-between;
  margin-left: 85px;
  margin-right: 225px;

}
.adults-kids label {
  margin-top: 0px;
}

.adults-kids input {
  width: 114px;
  height: 38px;
  margin:  0px;
  padding: 0px;
  border: 0px;
}

.adults {
  display: flex;


}
.kids {
  display: flex;
}

 {
  width: 230px;
  margin: 0;
  padding: 0;
}

.adults label {
  margin-left: 55px;
  margin-right: 38px;
}

.kids label {
  margin-left: 52px;
  margin-right: 23px;
}

.social-button {
width: 46px;
height: 48px;
display: flex;
background-color: #81b3d2;
align-items: center;
justify-content: center;


}

.social  {
  display: flex;
  margin: 0 auto;
  padding: 0;
  width: 150px;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: 24px;
  margin-top: 34px;

}

.social-button:hover {
  background-color: #669ec0;

}
.social-button:focus {
  background-color: #5496bd;

}
.social-button:active {
  background-color: #5496bd;
  color: #88b6d1;
}

.filter-option {
  list-style: none;
  margin-top: 24px;
  padding-left: 17px;

}

.search-filters {
  width: 300px;
}

.filter {
  display: flex;
  justify-content: space-between;
  min-height: 220px;
  padding: 0;
  margin: 0;
  list-style: none;

}

 .filter legend {


 }

.first-column {
  margin: 0;
  padding: 0;
  margin-top: 27px;
  margin-left: 72px;

  }

  .filter ul {
  padding: 0;
  margin: 0;

  }

  .filter-option label {
  position: relative;
  display: block;
  user-select: none;
}

  .filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  background: url("../img/checkbox-off.svg")no-repeat;
  width: 27px;
  height: 23px;
  left: -18px;
  top: 0;
}
